{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <h1 class="masthead-heading text-uppercase mb-0">Blowout Instrument Rentals</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Your first choice for instrument rentals since 2023</p>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->

        <!-- Icon Divider-->

        <!-- Portfolio Grid Items-->

        <img src="{% static 'assets/img/milesdavis.jpg' %}" alt="Miles Davis"></img>
        <br>
        <br>
        <br>
        <h6 class="masthead-subheading font-weight-light mb-0">Founded in 2018, Blowout Rentals began its story in the
            basement of a one-story home in the suberbs of Provo, Utah. Due to the increasing popularity of music over
            the last year, Blowout Rentals has grown tremendously and now has several shops across Utal Valley. We offer
            a wide selection of instrument rentals, ranging from flutes to saxophones and offer various insurance and
            protection packages to ensure a positive rental experience.</h6>
        <br>
        <br>
        <br>
        <h6 class="masthead-subheading font-weight-light mb-0">Our mission: A trumpet in every home!</h6>
        <br>
        <br>
    </div>
</section>
<!-- About Section-->

</section>
<!-- Contact Section-->


{% endblock %}